body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal !important;
}

.table-v2-inline-editing-trigger {
    border: 1px transparent dotted;
    padding: 4px;
}

.table-v2-inline-editing-trigger:hover {
    border-color: var(--el-color-primary);
}

.table-container {
    height: 100vh;
}

.example-showcase .el-table-v2__overlay {
    z-index: 9;
}
/* custom-----------------------------------------------------------------*/
a{
    text-decoration: none
}
.clearfix:before {
    content: "";
    display: table-cell
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}
.img-cover {
    display: block;
    width: 100%;
    height: 100%
}

.img-cover img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.img-scaledown {
    display: block;
    width: 100%;
    height: 100%
}

.img-scaledown img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down
}
/* forum------------------------------------------------------------------------- */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #ececec;
    font-size: 14px;
}
.header {
    background-color: #185886;
    height: fit-content !important;
    padding: 0 !important;
}
.header-menu{
    padding: 0 30px;
}
.header-menu-item{
    background-color: transparent !important;
    padding: 0px !important;

}
.header-menu-item .menu-left{
   height: 35px !important;
}
.header-menu-item .menu-right{
   height: 35px !important;
}
.header-menu-item .is-active{
    background-color: #fff;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border: 0 !important;
}
.menu-custom {
    height: auto;
}
.header-logo{
    padding: 3px 0;
}
.header-logo>* {
    width: 100px;
    padding: 5px 20px;
}
.header-menu-item {
    border-bottom: 0 !important; 
}
.menu-left .el-sub-menu__title:hover {
    background-color: transparent !important;
}
.menu-left.is-active .el-tooltip__trigger {
    padding-left: 30px;
    padding-right: 30px;
}
.header-menu-item .menu-left:hover {
    background-color: #bcdef50f !important;
}

.header-menu-item>.menu-custom.menu-left{
    color: #bcdef5 !important;
    padding: 0 20px !important;
   
}
.header-menu-item>.menu-custom>* {
    color: #bcdef5 !important;
}
.header-menu-item>.menu-custom.is-active{
    color: #2577b1 !important;
}
.header-menu-item .is-active{
    font-weight: 700;
    color: #2577b1 !important;
}
.header-menu-item .is-active>*{
    font-weight: 700;
    color: #2577b1 !important;
}
.avatar{
    height: 20px;
    margin-right: 5px;
}
.avatar>*{
    border-radius: 50%;
    display: block;
}
.menu-right{
    background-color: #14141426;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.menu-right>*:hover{
    background-color: #07070726 !important;
}
.menu-right>*{
    padding: 0 8px !important;
}

.menu-right .el-sub-menu__icon-arrow {
    display: none;
}
.menu-search{
    margin-left: 10px !important;
}
.menu-custom{
    line-height: inherit !important;
}
.el-popper{
    border-top: 3px solid #47a7eb !important;
    top: 79px !important;
}
.header-menu-item .is-active:hover{
    background-color: #fff !important;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border: 0 !important;
}
.header-dropdown{
    background: linear-gradient(0deg, #edf6fd, #f6fafe);
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #2577b1;
    border-bottom: 1px solid #dfdfdf;
}
.header-menu-item .el-form{
    width: 350px;
}
.el-menu--popup .menu-custom{
    max-width: 300px;
    min-width: 200px;
    display: inline-block; 
}
.header-menu-item .el-form .form-item-custom{
    padding: 5px 10px;
    margin-bottom: 0;
}
.form-item-custom:last-child{
    margin-bottom: 0;
}
.footer-dropdown{
    border-top: 1px solid #dfdfdf;
    background: linear-gradient(180deg, #f5f5f5, #fafafa);
    padding: 10px;
}
.menu-left.is-opened{
    color: #edf6fd;
    text-decoration: none;
    background: rgba(71,167,235,0.5);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.35);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.menu-custom.is-active .el-sub-menu__title{
    border: 0 !important;
}
.menu-custom.is-active .el-icon {
    display: none;

}
.menu-custom{
    height: auto !important;
}
/* .menu-custom-dropdown:not(:last-child){
    border-bottom: 1px solid #dfdfdf;
} */
.menu-custom .content-notification{
    white-space: normal;
    font-size: 12px;
    float: left;
}
.menu-custom .content-notification .notification-name{
    color: #2577b1;
}
.menu-custom  .content-notification a{
    display: block;
    text-decoration: none;
    color: #000;
}
.menu-custom .avatar-notification .image{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.menu-custom .avatar-notification .image>*{
    border-radius: 50%;
}
.footer-dropdown>*{
    float: left;
    margin-right: 10px;
}
.footer-notification{
    padding: 5px 10px;
}
.footer-notification a{
    color: #2577b1;
}
.footer-notification>*:hover{
    text-decoration:underline;
}
.lock-height{
    overflow: auto;
    max-height: 350px;
}
.account-info{
    width: 350px;
}
.head-info {
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dfdfdf;
}
.head-info .image{
    height: 100px;
    width: 100px;
}
.head-info .image>*{
    border-radius: 50%;
}
.el-tabs__header{
    margin: 0 !important;
}
.el-tabs__header{
    padding: 5px 10px 0 10px !important;
    background: linear-gradient(0deg, #edf6fd, #f6fafe);
}
.el-tabs__item.is-active{
    background-color: transparent;
}
.el-tabs__item.is-active:hover{
    background-color: transparent !important;
}
.head-info .user-name{
    font-size: 16px;
    font-weight: 700;
    color: #2577b1;
}
.head-info .user-name:hover{
    text-decoration:underline;
}
.head-info .user-position{
    font-size: 13px;
    color: #000;
}
.head-info .head-info-content{
    font-size: 12px;
    color: #8c8c8c;
}
.item-info{
    border-bottom: 1px solid #dfdfdf;
}
.item-info .item-info-item{
    display: inline-block;
}
.item-info .item-info-item>a:hover{
    background: #edf6fd;
    border-left: 3px solid transparent;
    border-left-color: rgba(71,167,235,0.5);
}
.item-info .item-info-item>a{
    display: block;
    padding: 5px 10px;
    color: #185886;
}
.account-info .description{
    padding: 5px 10px;
}
.form-select{
    width: 300px;
}

.menu-custom> .dropdown-item:hover {
    background: #edf6fd;
    border-left: 3px solid transparent;
    border-left-color: rgba(71,167,235,0.5);
}
.menu-custom-dropdown{
    padding: 0 !important;
    display: block !important;
}
.menu-custom-dropdown>*{
    color: #000;
}
.menu-custom-dropdown>*:hover{
    color: #2577b1;
}
.menu-custom>.dropdown-item{
    padding: 8px 10px !important;
    display: block;
    font-size: 13px;
}


.menu-right-dropdown:not(:last-child){
    border-bottom: 1px solid #dfdfdf;
}

.menu-right{
    position: relative;
}
.notification-icon{
    position: absolute;
    top: 0;
    right: 50%;
    font-size: 10px;
    font-weight: 600;
    background-color: red;
    line-height: normal;
    border-radius: 3px;
    transform: translate(100%, 0%);
    text-align: center;
    min-width: 10px;
}
.menu-left .notification-icon{
    right: 30%;
    font-size: 12px;
}
.menu-custom-dropdown .notification-icon{
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: #bcdef5;
}
.notification-icon>span{
  padding: 1px;
}

.fix-header-menu {
    position: fixed;
    top: 0;
    width: 100%;
    /* padding: 10px; */
    box-sizing: border-box;
    background: #185886;
    z-index: 10000;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.3);
}
.fix-header-logo {
    /* display: none; */
    opacity: 0;
    transition: all ease-in-out 0.3s;
}
.fix-icon{
    margin: 0 !important;
}
.header-menu-item>.menu-custom.menu-left.none-padding{
    padding: 0 !important;
}
.icon-arrow{
    position: absolute !important;
    bottom: 100%;
    left: 20%;
    transform: translate(0%,20%);
    color: #47a7eb !important;
    font-size: 20px !important;
}
.icon-arrow.icon-arrow-right{
    right: 3%;
    left: auto;
    transform: translate(0%,20%);
}
.custom-form-account{
    width: 100%;
    margin: 0;
}
.custom-form-account-button{
    display: none !important;
  }
.custom-form-account-input{
    margin-bottom: 5px !important;
}
.custom-form-account-select{
    width: 100%;
}
.form-item-custom.form-select{
    padding: 10px;
    margin: 0 ;
    width: auto;
}

.el-menu--popup{
    padding: 0 !important;
}