body {
    font-family: Arial, Helvetica, sans-serif;
}

.table-v2-inline-editing-trigger {
    border: 1px transparent dotted;
    padding: 4px;
}

.table-v2-inline-editing-trigger:hover {
    border-color: var(--el-color-primary);
}

.table-container {
    height: 100vh;
}

.example-showcase .el-table-v2__overlay {
    z-index: 9;
}